body {
    font-family: "Roboto", sans-serif;
    margin: 40px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0px 0px 15px 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
}

.games {
    column-count: 3;
    column-rule-style: solid;

}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid black;
    padding: 0px 0px 30px 0px;
}

h3 {
    font-size: 15px;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

li {
    font-size: 14px;
    padding: 0px 25px 0px 0px;
    list-style: none;
}

.largeLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 20px 0px;
    width: 400px;
  }

.smallerLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}