body {
    font-family: "Roboto", sans-serif;
    border: 3px solid black;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.mlb {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 84px;
    color: rgb(4, 30, 66);
    padding: 13px;
}

.nhl {
    font-family: 'Franklin Gothic Medium', Arial;
    font-size: 84px;
    font-style: italic;
    color: black;
    padding: 13px;
}


h4 {
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid black;
    margin: 24px 15px 24px 15px;
    padding: 0px 0px 24px 0px;
    line-height: 0px;
}

h2 {
    font-size: 21px;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

h3 {
    font-size: 18px;
    text-align: center;
    padding: 0px 0px 10px 0px;
    margin-bottom: 0px;
    line-height: 15px;
}

li {
    font-size: 14px;
    padding: 0px 25px 0px 0px;
    list-style: none;
}

.largeLogo {
    height: 60px;
    margin-top: 3px;
    margin-left: 6px;
  }

.smallerLogo {
    display: block;
    margin: -10px auto -10px auto;
    height: 80px;
    width: 80px;
    border-radius: 8px;
    background-color: lightgrey;
    padding: 10px;
}

p {
    font-size: 14px;
    background-color: lightgrey;
    margin: 15px 15px 15px 15px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    line-height: 20px;
}

.p-foot {
    font-size: 14px;
    margin: 0px 15px 15px 15px;
    text-align: center;
    line-height: 20px;
    border-top: 3px solid black;
}

.p-grey {
    font-size: 14px;
    background-color: lightgrey;
    margin: 15px 15px 15px 15px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    line-height: 20px;
}

.p-blue {
    font-size: 14px;
    background-color: rgb(153, 204, 255);
    margin: 15px 15px 15px 15px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    line-height: 20px; 
}

.p-red {
    font-size: 14px;
    background-color: rgb(255, 153, 153);
    margin: 15px 15px 15px 15px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    line-height: 20px; 
}

.p-green {
    font-size: 14px;
    background-color: rgb(153, 255, 153);
    margin: 15px 15px 15px 15px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    line-height: 20px; 
}


.clock {
    display: inline-block;
    background-color: rgb(187, 0, 33);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 16px;
    margin: 15px 15px 0px 15px;
    width: 329px;
    border-radius: 8px;
}

h5 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid black;
    padding: 0px 0px 20px 0px;
    margin-bottom: 30px;
    line-height: 20px;
}

.pprLogo {
    display: block;
    margin: 15px auto 5px auto;
    height: 80px;
    width: auto;
    border-radius: 8px;
    background-color: lightgrey;
    padding: 10px;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin: -3px auto -2px auto;
  }

.tdName {
    border-collapse: collapse;
    background-color: white;
    padding-left: 5px;
    width: 210px;
  }

.tdScore {
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    width: 30px;
    font-weight: bold;
  }

.item1 {
    margin-right: -13px;
}

.item3 {
    margin-left: -13px;
}

.record {
    font-size: 12px;
    font-style: italic;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 15px 15px 0px 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: lightgrey;
    width: 329px;
    border-radius: 8px;
}

nav ul li {
    display: inline;
    border-right: 3px solid black;
    font-size: 20px;
    padding-right: 16px;
    padding-left: 8px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}